###### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [1]:
from platform import python_version
print(python_version())

3.8.3

In [5]:
import pandas as pd
import numpy as np
#from tabulate import tabulate

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv',
                 names=["surgery?",
                        "age",
                        "Hospital_Number",
                        "rectal_temperature",
                        "pulse",
                        "respiratory_rate", 
                        "temperature_of_extremities",
                        "peripheral pulse",
                        "mucous membranes",
                        "capillary refill time",
                        "pain",
                        "peristalsis",
                        "abdominal distension",
                        "nasogastric tube",
                        "nasogastric reflux",
                        "nasogastric reflux PH",
                        "rectal examination - feces",
                        "abdomen",
                        "packed cell volume",
                        "total protein",
                        "abdominocentesis appearance",
                        "abdomcentesis total protein",
                        "outcome",
                        "surgical lesion?",
                        "type of lesion1",
                        "type of lesion2",
                        "type of lesion3",
                        "cp_data"],
                 
#                 dtypeType name or dict of column -> type, optional
#                 Data type for data or columns. E.g. {‘a’: np.float64, ‘b’: 'Int32', ‘c’: ‘Int64’} 
#                 Use str or object together with suitable na_values settings
#                 to preserve and not interpret dtype. 
#                 If converters are specified, they will be applied INSTEAD of dtype conversion.
                  dtype = {
                        "surgery?": 'Int8', #01 
                        "age": 'Int8',  #02 
                        "Hospital_Number": 'Int32', #03
                        "rectal_temperature": 'Float32', #04
                        "pulse": 'Float64', #05 
                        "respiratory_rate": 'Float32', #06
                        "temperature_of_extremities": 'Int8', #07 
                        "peripheral pulse": 'Int8', #08 
                        "mucous membranes": 'Int8', #09 
                        "capillary refill time": 'Int8', #10 
                        "pain": 'Int8', #11 
                        "peristalsis": 'Int8', #12 
                        "abdominal distension": 'Int8', #13 
                        "nasogastric tube": 'Int8', #14 
                        "nasogastric reflux": 'Int8', #15 
                        "nasogastric reflux PH": 'Float32', #16
                        "rectal examination - feces": 'Int8', #17 
                        "abdomen":  'Int8', #18 
                        "packed cell volume": 'Float32', #19
                        "total protein": 'Float32', #20
                        "abdominocentesis appearance":  'Int8', #21 '
                        "abdomcentesis total protein": 'Float32', #22
                        "outcome": 'Int8', #23 
                        "surgical lesion?": 'Int8', #24 
                        "type of lesion1": 'object', #25
                        "type of lesion2": 'object', #26
                        "type of lesion3": 'object', #27
                        "cp_data": 'Int8' # 28
                          },
                     na_values = '?', # обозначим сразу NaN-значение
                     keep_default_na=True, #  на всякий случай пусть поределяются  и другие Nan-значения
                     na_filter=True # явно укажем на поиск NaN -значений
                                           )

# какие типы признаков в нашем датафрейме?
df.head()
#2,1,530101,38.50,66,28,3,3,?,2,5,4,4,?,?,?,3,5,45.00,8.40,?,?,2,2,11300,00000,00000,2

,surgery?,age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion1,type of lesion2,type of lesion3,cp_data
0,2,1,530101,38.500000,66.0,28.0,3,3,<NA>,2,...,45.0,8.4,<NA>,NaN,2,2,11300,00000,00000,2
1,1,1,534817,39.200001,88.0,20.0,<NA>,<NA>,4,1,...,50.0,85.0,2,2.0,3,2,02208,00000,00000,2
2,2,1,530334,38.299999,40.0,24.0,1,1,3,1,...,33.0,6.7,<NA>,NaN,1,2,00000,00000,00000,1
3,1,9,5290409,39.099998,164.0,84.0,4,1,6,2,...,48.0,7.2,3,5.3,2,1,02208,00000,00000,1
4,2,1,530255,37.299999,104.0,35.0,<NA>,<NA>,6,2,...,74.0,7.4,<NA>,NaN,2,2,04300,00000,00000,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     299 non-null    Int8
 1   age                          300 non-null    Int8
 2   Hospital_Number              300 non-null    Int32
 3   rectal_temperature           240 non-null    Float32
 4   pulse                        276 non-null    Float64
 5   respiratory_rate             242 non-null    Float32
 6   temperature_of_extremities   244 non-null    Int8
 7   peripheral pulse             231 non-null    Int8
 8   mucous membranes             253 non-null    Int8
 9   capillary refill time        268 non-null    Int8
 10  pain                         245 non-null    Int8
 11  peristalsis                  256 non-null    Int8
 12  abdominal distension         244 non-null    Int8
 13  nasogastric tube             196 non-null    Int8
 14  nasogastric reflux           194 non-null    Int8
 15  nasogastric reflux PH        53 non-null     Float32
 16  rectal examination - feces   198 non-null    Int8
 17  abdomen                      182 non-null    Int8
 18  packed cell volume           271 non-null    Float32
 19  total protein                267 non-null    Float32
 20  abdominocentesis appearance  135 non-null    Int8
 21  abdomcentesis total protein  102 non-null    Float32
 22  outcome                      299 non-null    Int8
 23  surgical lesion?             300 non-null    Int8
 24  type of lesion1              300 non-null    object
 25  type of lesion2              300 non-null    object
 26  type of lesion3              300 non-null    object
 27  cp_data                      300 non-null    Int8
dtypes: Float32(6), Float64(1), Int32(1), Int8(17), object(3)
memory usage: 30.0+ KB

Оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome:

In [9]:
df = df.drop(columns=[
                        "Hospital_Number",
                        "peripheral pulse",
                        "mucous membranes",
                        "capillary refill time",
                        "peristalsis",
                        "abdominal distension",
                        "nasogastric tube",
                        "nasogastric reflux",
                        "nasogastric reflux PH",
                        "rectal examination - feces",
                        "abdomen",
                        "packed cell volume",
                        "total protein",
                        "abdominocentesis appearance",
                        "abdomcentesis total protein",
                        "surgical lesion?",
                        "type of lesion1",
                        "type of lesion2",
                        "type of lesion3",
                        "cp_data"
                       ])

###### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [10]:
df.head()

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.500000,66.0,28.0,3,5,2
1,1,1,39.200001,88.0,20.0,<NA>,3,3
2,2,1,38.299999,40.0,24.0,1,3,1
3,1,9,39.099998,164.0,84.0,4,2,2
4,2,1,37.299999,104.0,35.0,<NA>,<NA>,2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float32
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float32
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        245 non-null    Int8
 7   outcome                     299 non-null    Int8
dtypes: Int8(5), float32(2), float64(1)
memory usage: 7.7 KB

In [12]:
print('Уникальные значения столбцов:')
print('______________________________________________')
print('Столбец "surgery":', df['surgery?'].unique())
print('______________________________________________')
print('Столбец "age":', df['age'].unique())
print('______________________________________________')
print('Столбец "rectal_temperature":', df['rectal_temperature'].unique())
print('______________________________________________')
print('Столбец "pulse":', df['pulse'].unique())
print('______________________________________________')
print('Столбец "respiratory_rate":', df['respiratory_rate'].unique())
print('______________________________________________')
print('Столбец "temperature_of_extremities":', df['temperature_of_extremities'].unique())
print('______________________________________________')
print('Столбец "pain":', df['pain'].unique())
print('______________________________________________')
print('Столбец "outcome":', df['outcome'].unique())
print('______________________________________________')

Уникальные значения столбцов:
______________________________________________
Столбец "surgery": <IntegerArray>
[2, 1, <NA>]
Length: 3, dtype: Int8
______________________________________________
Столбец "age": <IntegerArray>
[1, 9]
Length: 2, dtype: Int8
______________________________________________
Столбец "rectal_temperature": [38.5 39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4
 39.9 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
______________________________________________
Столбец "pulse": [ 66.  88.  40. 164. 104.  nan  48.  60.  80.  90.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
______________________________________________
Столбец "respiratory_rate": [28. 20. 24. 84. 35. nan 16. 36. 12. 52. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
______________________________________________
Столбец "temperature_of_extremities": <IntegerArray>
[3, <NA>, 1, 4, 2]
Length: 5, dtype: Int8
______________________________________________
Столбец "pain": <IntegerArray>
[5, 3, 2, <NA>, 4, 1]
Length: 6, dtype: Int8
______________________________________________
Столбец "outcome": <IntegerArray>
[2, 3, 1, <NA>]
Length: 4, dtype: Int8
______________________________________________

In [13]:
df.describe()

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167915,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642225,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400002,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.799999,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200001,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.799999,184.000000,96.000000,4.000000,5.00000,3.000000

Значения моды для категориальных переменных:

In [14]:
# Моды
print('Surgery:', df['surgery?'].mode()[0])
print('Age:', df['age'].mode()[0])
print('Respiratory rate:', df['respiratory_rate'].mode()[0])
print('Temperature of extremities:', df['temperature_of_extremities'].mode()[0])
print('Pain:', df['pain'].mode()[0])
print('Outcome:', df['outcome'].mode()[0])

Surgery: 1
Age: 1
Respiratory rate: 20.0
Temperature of extremities: 3
Pain: 3
Outcome: 1

Значения дисперсии для всех переменных:

In [15]:
print(f'Surgery: {df["surgery?"].var():.2f}')
print(f'Age: {df["age"].var():.2f}')
print(f'Rectal temperature: {df["rectal_temperature"].var():.2f}')
print(f'Pulse: {df["pulse"].var():.2f}')
print(f'Respiratory rate: {df["respiratory_rate"].var():.2f}')
print(f'Temperature of extremities: {df["temperature_of_extremities"].var():.2f}')
print(f'Pain: {df["pain"].var():.2f}')
print(f'Outcome: {df["outcome"].var():.2f}')

Surgery: 0.24
Age: 4.73
Rectal temperature: 0.54
Pulse: 819.71
Respiratory rate: 311.25
Temperature of extremities: 1.09
Pain: 1.71
Outcome: 0.54

Межквартильный размах:

In [16]:
IQR_surgery = df['surgery?'].quantile(0.75) - df['surgery?'].quantile(0.25)
print(f'Surgery: {IQR_surgery:.1f}')

IQR_age = df['age'].quantile(0.75) - df['age'].quantile(0.25)
print(f'Age: {IQR_age:.1f}')

IQR_rectal_temperature = df['rectal_temperature'].quantile(0.75) - df['rectal_temperature'].quantile(0.25)
print(f'Rectal temperature: {IQR_rectal_temperature:.1f}')

IQR_pulse = df['pulse'].quantile(0.75) - df['pulse'].quantile(0.25)
print(f'Pulse: {IQR_pulse:.1f}')

IQR_respiratory_rate = df['respiratory_rate'].quantile(0.75) - df['respiratory_rate'].quantile(0.25)
print(f'Respiratory rate: {IQR_respiratory_rate:.1f}')

IQR_temperature_of_extremities = df['temperature_of_extremities'].quantile(0.75)\
- df['temperature_of_extremities'].quantile(0.25)
print(f'Temperature of extremities: {IQR_temperature_of_extremities:.1f}')

IQR_pain = df['pain'].quantile(0.75) - df['pain'].quantile(0.25)
print(f'Pain: {IQR_pain:.1f}')

IQR_outcome = df['outcome'].quantile(0.75) - df['outcome'].quantile(0.25)
print(f'Outcome: {IQR_outcome:.1f}')

Surgery: 1.0
Age: 0.0
Rectal temperature: 0.7
Pulse: 40.0
Respiratory rate: 17.5
Temperature of extremities: 2.0
Pain: 2.0
Outcome: 1.0

Анализ основных статистических характеристик показывает что в столбце **pulse** возможен выброс по максимальному значению.
Однако данный показатель зависим от общего состояния животного - при высоком уровне боли пульс может быть повышен.

In [17]:
# Расчёт выбросов для столбца pulse по «внутренним границам»:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound_int = q1 - (1.5 * iqr) 
upper_bound_int = q3 + (1.5 * iqr)
print ('Значение выбросов столбца "pulse" по "внутренним границам" (1,5 межквартильного размаха):')
df[~df['pulse'].between(lower_bound_int, upper_bound_int, inclusive=True)]

Значение выбросов столбца "pulse" по "внутренним границам" (1,5 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1,9,39.099998,164.0,84.0,4,2,2
5,2,1,NaN,NaN,NaN,2,2,1
28,1,1,NaN,NaN,NaN,<NA>,<NA>,2
41,2,9,39.000000,150.0,72.0,<NA>,<NA>,1
52,2,1,NaN,NaN,NaN,1,1,1
55,1,9,38.599998,160.0,20.0,3,3,2
56,1,1,NaN,NaN,NaN,<NA>,<NA>,1
58,1,1,NaN,NaN,20.0,4,5,2
74,1,9,NaN,NaN,NaN,<NA>,<NA>,2
78,1,1,NaN,NaN,NaN,3,5,2
83,1,1,38.000000,NaN,24.0,3,5,2
93,2,1,NaN,NaN,NaN,3,5,2
115,2,1,NaN,NaN,40.0,3,3,1
117,2,1,39.500000,NaN,NaN,3,3,3
126,1,1,38.700001,NaN,NaN,3,5,1
136,1,1,NaN,NaN,NaN,3,5,2
151,1,1,39.299999,NaN,NaN,4,4,2
159,2,1,NaN,NaN,12.0,1,2,1
160,1,1,NaN,NaN,NaN,<NA>,4,1
174,2,1,NaN,NaN,NaN,3,4,2
175,1,1,NaN,NaN,NaN,<NA>,<NA>,1
182,1,1,38.000000,NaN,24.0,3,5,2
204,1,1,39.200001,NaN,23.0,3,4,1
207,1,1,NaN,NaN,NaN,<NA>,<NA>,2
216,2,1,NaN,NaN,NaN,<NA>,<NA>,1
227,1,9,NaN,NaN,NaN,<NA>,<NA>,1
255,1,9,38.799999,184.0,84.0,1,4,2
275,1,9,38.799999,150.0,50.0,1,5,2
288,1,1,NaN,NaN,NaN,<NA>,<NA>,1

In [18]:
# По внешним границам - значительные выбросы:
lower_bound_ext = q1 - (3. * iqr) 
upper_bound_ext = q3 + (3. * iqr)

print ('Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):')

df_max_outer = df[~df['pulse'].between(lower_bound_ext, upper_bound_ext, inclusive=True)]

if len(df_max_outer) == 0:
    print ('Значительных выбросов по столбцу "pulse" не обнаружено')
else:
    display(df_max_outer)

Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2,1,NaN,NaN,NaN,2,2,1
28,1,1,NaN,NaN,NaN,<NA>,<NA>,2
52,2,1,NaN,NaN,NaN,1,1,1
56,1,1,NaN,NaN,NaN,<NA>,<NA>,1
58,1,1,NaN,NaN,20.0,4,5,2
74,1,9,NaN,NaN,NaN,<NA>,<NA>,2
78,1,1,NaN,NaN,NaN,3,5,2
83,1,1,38.000000,NaN,24.0,3,5,2
93,2,1,NaN,NaN,NaN,3,5,2
115,2,1,NaN,NaN,40.0,3,3,1
117,2,1,39.500000,NaN,NaN,3,3,3
126,1,1,38.700001,NaN,NaN,3,5,1
136,1,1,NaN,NaN,NaN,3,5,2
151,1,1,39.299999,NaN,NaN,4,4,2
159,2,1,NaN,NaN,12.0,1,2,1
160,1,1,NaN,NaN,NaN,<NA>,4,1
174,2,1,NaN,NaN,NaN,3,4,2
175,1,1,NaN,NaN,NaN,<NA>,<NA>,1
182,1,1,38.000000,NaN,24.0,3,5,2
204,1,1,39.200001,NaN,23.0,3,4,1
207,1,1,NaN,NaN,NaN,<NA>,<NA>,2
216,2,1,NaN,NaN,NaN,<NA>,<NA>,1
227,1,9,NaN,NaN,NaN,<NA>,<NA>,1
288,1,1,NaN,NaN,NaN,<NA>,<NA>,1

Так же возможны выбросы в столбце **respiratory_rate**. Проверим это:

In [19]:
# Расчёт выбросов для столбца respiratory_rate по «внутренним границам»:
q1 = df['respiratory_rate'].quantile(0.25)
q3 = df['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound_int = q1 - (1.5 * iqr) 
upper_bound_int = q3 + (1.5 * iqr)
print ('Значение выбросов столбца "respiratory_rate" по "внутренним границам" (1,5 межквартильного размаха):')
df[~df['pulse'].between(lower_bound_int, upper_bound_int, inclusive=True)]

Значение выбросов столбца "respiratory_rate" по "внутренним границам" (1,5 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.500000,66.0,28.0,3,5,2
1,1,1,39.200001,88.0,20.0,<NA>,3,3
3,1,9,39.099998,164.0,84.0,4,2,2
4,2,1,37.299999,104.0,35.0,<NA>,<NA>,2
5,2,1,NaN,NaN,NaN,2,2,1
...,...,...,...,...,...,...,...,...
293,1,1,NaN,78.0,24.0,3,<NA>,3
295,1,1,NaN,120.0,70.0,4,2,3
296,2,1,37.200001,72.0,24.0,3,4,3
297,1,1,37.500000,72.0,30.0,4,4,2
298,1,1,36.500000,100.0,24.0,3,3,1

In [20]:
# По внешним границам - значительные выбросы:
lower_bound_ext = q1 - (3. * iqr) 
upper_bound_ext = q3 + (3. * iqr)

print ('Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):')

df_max_outer = df[~df['respiratory_rate'].between(lower_bound_ext, upper_bound_ext, inclusive=True)]

if len(df_max_outer) == 0:
    print ('Значительных выбросов по столбцу "respiratory_rate" не обнаружено')
else:
    display(df_max_outer)

Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2,1,NaN,NaN,NaN,2,2,1
7,1,1,NaN,60.0,NaN,3,<NA>,2
9,2,9,38.299999,90.0,NaN,1,5,1
28,1,1,NaN,NaN,NaN,<NA>,<NA>,2
29,2,1,37.700001,48.0,NaN,2,1,1
...,...,...,...,...,...,...,...,...
271,1,1,37.700001,80.0,NaN,3,5,1
274,1,1,NaN,76.0,NaN,<NA>,<NA>,3
281,2,1,40.000000,78.0,NaN,3,2,2
284,2,1,38.500000,54.0,NaN,1,3,1
288,1,1,NaN,NaN,NaN,<NA>,<NA>,1

Как указано в описании данных датафрейма, характиристика частоты дыхания (respiratory rate) имеет сомнительную ценность ввиду большой вариативности.

**Рекомендация:** исключить данные строки из последующего анализа.

###### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float32
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float32
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        245 non-null    Int8
 7   outcome                     299 non-null    Int8
dtypes: Int8(5), float32(2), float64(1)
memory usage: 7.7 KB

In [22]:
elements_Nan = df.isna().sum().sum()
print('Общее количество пропущеных значений для всех столбцов:', elements_Nan)
elements = len(df.axes[0])*len(df.axes[1])
print ('Общее количество элементов в датафрейме:', elements )
print(f'Отсутствует {(elements_Nan/elements) *100}% данных')

Общее количество пропущеных значений для всех столбцов: 255
Общее количество элементов в датафрейме: 2400
Отсутствует 10.625% данных

In [23]:
print('В разрезе по столбцам отсутствует следующее количество данных в процентах:')
(df.isna().sum() / len(df)).round(4) * 100

В разрезе по столбцам отсутствует следующее количество данных в процентах:

surgery?                       0.33
age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [24]:
print('Строка с пропущенным значением для столбца "surgery?"- проводилась ли хирургическая операция:')
df.loc[df['surgery?'].isnull()]

Строка с пропущенным значением для столбца "surgery?"- проводилась ли хирургическая операция:

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,<NA>,1,38.0,48.0,20.0,3,4,<NA>

В строке так же не заполнено значение **outcome** - нет результата лечения.

**Рекомендация:** заменить значения **surgery?** и **outcome** соотвествующими модами, либо удалить строку.

In [25]:
print('Значение моды для столбца "surgery?": ', df['surgery?'].mode()[0])
print('Значение моды для столбца "outcome": ', df['outcome'].mode()[0])
df['surgery?'].iloc[132] = 1
df['outcome'].iloc[132] = 1
df.iloc[132]

Значение моды для столбца "surgery?":  1
Значение моды для столбца "outcome":  1

surgery?                       1
age                            1
rectal_temperature            38
pulse                         48
respiratory_rate              20
temperature_of_extremities     3
pain                           4
outcome                        1
Name: 132, dtype: object

Столбец **age** не имеет пропусков данных  и не требует дополнительной обработки. Однако категориальные значения для возраста не соответствуют описанию:

 Age:
 
         1 = Adult horse
         
         2 = Young (< 6 months)
В датасете имеются только значения 1 и 9:

In [26]:
df['age'].unique()

<IntegerArray>
[1, 9]
Length: 2, dtype: Int8

**Рекомендация:** определить, что **9** обозначает молодую ососбь и заменить на  **2**, как это было определено в описании данных:

In [27]:
df['age'].loc[df['age'] == 9] = 2
df['age'].unique()

<IntegerArray>
[1, 2]
Length: 2, dtype: Int8

Заполнение пропущенных значений столбца ***pain*** -  
cравним показатели датафрейма при заполнении модой и медианой:

In [28]:
moda_pain = df

moda_pain['pain'].fillna(df['pain'].mode()[0], inplace=True)
moda_pain['pain'].describe()

count    300.000000
mean       2.960000
std        1.181689
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [29]:
median_pain = df
median_pain['pain'].fillna(df['pain'].median(), inplace=True)
median_pain['pain'].describe()

count    300.000000
mean       2.960000
std        1.181689
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

Каких-либо различий в статистических показателях не обнаружено.
**Рекомендация:** столбец **pain** заполняем значением моды.

In [30]:
df['pain'].fillna(df['pain'].mode()[0], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float32
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float32
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        300 non-null    Int8
 7   outcome                     300 non-null    Int8
dtypes: Int8(5), float32(2), float64(1)
memory usage: 7.7 KB

Убедимся, что в столбце **pain** не осталось пропусков:

In [31]:
df['pain'].isna().sum()

0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float32
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float32
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        300 non-null    Int8
 7   outcome                     300 non-null    Int8
dtypes: Int8(5), float32(2), float64(1)
memory usage: 7.7 KB

Для заполнения стобов используем внутригурпповые медианы. Группы формируем исходя из эмпирических зависимостей. 

Столбец **rectal_temperature** содержит набор непрерывных величин, пропуски могут быть заполнены медианными  значениями в зависимости от возрастной категории и уровня боли:

In [33]:
# Мы не можем исключать, что средние температуры в зависимости возраста различны...
# Используем заполнение внутригрупповым значением

print('Группы по возрастам: 1-возрослая лошадь, 2-жеребенок:')
print(df.groupby(['age'])['rectal_temperature'].agg('count'))
print('Медианная температура по возрастам: 1-возрослая лошадь, 2-жеребенок:')
print(df.groupby(['age','pain'])['rectal_temperature'].median())
df['rectal_temperature'] = df['rectal_temperature'].fillna(df.groupby(['age', 'pain'])['rectal_temperature'].transform('median'))

Группы по возрастам: 1-возрослая лошадь, 2-жеребенок:
age
1    220
2     20
Name: rectal_temperature, dtype: int64
Медианная температура по возрастам: 1-возрослая лошадь, 2-жеребенок:
age  pain
1    1       38.200001
     2       38.299999
     3       38.049999
     4       38.000000
     5       38.000000
2    1       38.000000
     2       38.799999
     3       38.599998
     4       38.799999
     5       38.299999
Name: rectal_temperature, dtype: float32

Убедимся, что в столбце **rectal_temperature** не осталось пропусков:

In [34]:
df['rectal_temperature'].isna().sum()

0

Заменим значение пульса (**pulse**) на медианное по группе в зависимости от возраста и температуры:

In [35]:
df['pulse'] = df['pulse'].fillna(df.groupby(['age', 'rectal_temperature'])['pulse'].transform('median'))

Убедимся, что в столбце **pulse** не осталось пропусков:

In [36]:
df['pulse'].isna().sum()

0

Заменим значение частоты дыхания (**respiratory_rate**) на медианное по группе в зависимости от возраста и уровня боли:

In [37]:
df['respiratory_rate'] = df['respiratory_rate'].fillna(df.groupby(['pain','age'])['respiratory_rate'].transform('median'))

Убедимся, что в столбце **respiratory_rate** не осталось пропусков:

In [38]:
df['respiratory_rate'].isna().sum()

0

Заменим значение температуры конечностей (**temperature_of_extremities**) на медианное по группе в зависимости от возраста и исхода:

In [39]:
df['temperature_of_extremities'] = df['temperature_of_extremities'].fillna(df.groupby(['outcome','age'])['temperature_of_extremities'].transform('median'))

Убедимся, что в столбце **respiratory_rate** не осталось пропусков:

In [40]:
df['temperature_of_extremities'].isna().sum()

0

###### Описательные характеристики модифицированого датафрейма:

In [41]:
df.describe()

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.396667,1.080000,38.156975,71.686667,29.860001,2.343333,2.960000,1.550000
std,0.490023,0.271746,0.660572,27.929950,16.347204,0.984218,1.181689,0.736642
min,1.000000,1.000000,35.400002,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.900002,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.049999,64.000000,25.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.799999,184.000000,96.000000,4.000000,5.000000,3.000000