###### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [280]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [295]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv',
                 names=["surgery?",
                        "age",
                        "Hospital_Number",
                        "rectal_temperature",
                        "pulse",
                        "respiratory_rate", 
                        "temperature_of_extremities",
                        "peripheral pulse",
                        "mucous membranes",
                        "capillary refill time",
                        "pain",
                        "peristalsis",
                        "abdominal distension",
                        "nasogastric tube",
                        "nasogastric reflux",
                        "nasogastric reflux PH",
                        "rectal examination - feces",
                        "abdomen",
                        "packed cell volume",
                        "total protein",
                        "abdominocentesis appearance",
                        "abdomcentesis total protein",
                        "outcome",
                        "surgical lesion?",
                        "type of lesion1",
                        "type of lesion2",
                        "type of lesion3",
                        "cp_data"],
                 
#                 dtypeType name or dict of column -> type, optional
#                 Data type for data or columns. E.g. {‘a’: np.float64, ‘b’: 'Int32', ‘c’: ‘Int64’} 
#                 Use str or object together with suitable na_values settings
#                 to preserve and not interpret dtype. 
#                 If converters are specified, they will be applied INSTEAD of dtype conversion.
                  dtype = {
                        "surgery?": 'Int8', #01 
                        "age": 'Int8',  #02 
                        "Hospital_Number": 'Int32', #03
                        "rectal_temperature": 'Float64', #04
                        "pulse": 'Int16', #05 
                        "respiratory_rate": 'Int16', #06
                        "temperature_of_extremities": 'Int8', #07 'Float64'
                        "peripheral pulse": 'Int8', #08 'Float64'
                        "mucous membranes": 'Int8', #09 'Float64'
                        "capillary refill time": 'Int8', #10 'Float64'
                        "pain": 'Int8', #11 'Float64'
                        "peristalsis": 'Int8', #12 'Float64'
                        "abdominal distension": 'Int8', #13 'Float64'
                        "nasogastric tube": 'Int8', #14 'Float64'
                        "nasogastric reflux": 'Int8', #15 'Float64'
                        "nasogastric reflux PH": 'Float32', #16
                        "rectal examination - feces": 'Int8', #17 'Float64'
                        "abdomen":  'Int8', #18 'Float64'
                        "packed cell volume": 'Float32', #19
                        "total protein": 'Float32', #20
                        "abdominocentesis appearance":  'Int8', #21 'Float64'
                        "abdomcentesis total protein": 'Float32', #22
                        "outcome": 'Int8', #23 'Float64'
                        "surgical lesion?": 'Int8', #24 'Float64'
                        "type of lesion1": 'object', #25
                        "type of lesion2": 'object', #26
                        "type of lesion3": 'object', #27
                        "cp_data": 'Int8' # 28
                          },
                     na_values = '?', # обозначим сразу NaN-значение
                     keep_default_na=True, #  на всякий случай пусть поределяются  и другие Nan-значения
                     na_filter=True # явно укажем на поиск NaN -значений
                                           )

# какие типы признаков в нашем датафрейме?
df.head()
#2,1,530101,38.50,66,28,3,3,?,2,5,4,4,?,?,?,3,5,45.00,8.40,?,?,2,2,11300,00000,00000,2

,surgery?,age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion1,type of lesion2,type of lesion3,cp_data
0,2,1,530101,38.5,66,28,3,3,<NA>,2,...,45.0,8.4,<NA>,NaN,2,2,11300,00000,00000,2
1,1,1,534817,39.2,88,20,<NA>,<NA>,4,1,...,50.0,85.0,2,2.0,3,2,02208,00000,00000,2
2,2,1,530334,38.3,40,24,1,1,3,1,...,33.0,6.7,<NA>,NaN,1,2,00000,00000,00000,1
3,1,9,5290409,39.1,164,84,4,1,6,2,...,48.0,7.2,3,5.3,2,1,02208,00000,00000,1
4,2,1,530255,37.3,104,35,<NA>,<NA>,6,2,...,74.0,7.4,<NA>,NaN,2,2,04300,00000,00000,2

In [282]:
?pd.read_csv

In [296]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   surgery?                     299 non-null    Int8
 1   age                          300 non-null    Int8
 2   Hospital_Number              300 non-null    Int32
 3   rectal_temperature           240 non-null    float64
 4   pulse                        276 non-null    Int16
 5   respiratory_rate             242 non-null    Int16
 6   temperature_of_extremities   244 non-null    Int8
 7   peripheral pulse             231 non-null    Int8
 8   mucous membranes             253 non-null    Int8
 9   capillary refill time        268 non-null    Int8
 10  pain                         245 non-null    Int8
 11  peristalsis                  256 non-null    Int8
 12  abdominal distension         244 non-null    Int8
 13  nasogastric tube             196 non-null    Int8
 14  nasogastric reflux           194 non-null    Int8
 15  nasogastric reflux PH        53 non-null     float32
 16  rectal examination - feces   198 non-null    Int8
 17  abdomen                      182 non-null    Int8
 18  packed cell volume           271 non-null    float32
 19  total protein                267 non-null    float32
 20  abdominocentesis appearance  135 non-null    Int8
 21  abdomcentesis total protein  102 non-null    float32
 22  outcome                      299 non-null    Int8
 23  surgical lesion?             300 non-null    Int8
 24  type of lesion1              300 non-null    object
 25  type of lesion2              300 non-null    object
 26  type of lesion3              300 non-null    object
 27  cp_data                      300 non-null    Int8
dtypes: Int16(2), Int32(1), Int8(17), float32(4), float64(1), object(3)
memory usage: 27.4+ KB

Оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome:

In [297]:
df = df.drop(columns=[
                        "Hospital_Number",
                        "peripheral pulse",
                        "mucous membranes",
                        "capillary refill time",
                        "peristalsis",
                        "abdominal distension",
                        "nasogastric tube",
                        "nasogastric reflux",
                        "nasogastric reflux PH",
                        "rectal examination - feces",
                        "abdomen",
                        "packed cell volume",
                        "total protein",
                        "abdominocentesis appearance",
                        "abdomcentesis total protein",
                        "surgical lesion?",
                        "type of lesion1",
                        "type of lesion2",
                        "type of lesion3",
                        "cp_data"
                       ])

In [298]:
df.head()

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.5,66,28,3,5,2
1,1,1,39.2,88,20,<NA>,3,3
2,2,1,38.3,40,24,1,3,1
3,1,9,39.1,164,84,4,2,2
4,2,1,37.3,104,35,<NA>,<NA>,2

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    Int16
 4   respiratory_rate            242 non-null    Int16
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        245 non-null    Int8
 7   outcome                     299 non-null    Int8
dtypes: Int16(2), Int8(5), float64(1)
memory usage: 7.2 KB

###### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [300]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    Int16
 4   respiratory_rate            242 non-null    Int16
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        245 non-null    Int8
 7   outcome                     299 non-null    Int8
dtypes: Int16(2), Int8(5), float64(1)
memory usage: 7.2 KB

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [301]:
print('Значение моды: ', df['pain'].mode())

Значение моды:  0    3
dtype: Int64

Анализ основных статистических характеристик показывет что в столбце **pulse** возможен выброс по максимальному значению.
Однако данный показатель зависим от общего состояния животного - при высоком уровне боли пульс может быть повышен.

In [302]:
# Расчёт выбросов для столбца pulse по «внутренним границам»:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound_int = q1 - (1.5 * iqr) 
upper_bound_int = q3 + (1.5 * iqr)
print ('Значение выбросов столбца "pulse" по "внутренним границам" (1,5 межквартильного размаха):')
df[~df['pulse'].between(lower_bound_int, upper_bound_int, inclusive=True)]

Значение выбросов столбца "pulse" по "внутренним границам" (1,5 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1,9,39.1,164,84,4,2,2
41,2,9,39.0,150,72,<NA>,<NA>,1
55,1,9,38.6,160,20,3,3,2
255,1,9,38.8,184,84,1,4,2
275,1,9,38.8,150,50,1,5,2

In [303]:
# По внешним границам - значительные выбросы:
lower_bound_ext = q1 - (3. * iqr) 
upper_bound_ext = q3 + (3. * iqr)

print ('Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):')

df_max_outer = df[~df['pulse'].between(lower_bound_ext, upper_bound_ext, inclusive=True)]

if len(df_max_outer) == 0:
    print ('Значительных выбросов по столбцу "pulse" не обнаружено')
else:
    display(df_max_outer)

Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):
Значительных выбросов по столбцу "pulse" не обнаружено

Так же возможны выбросы в столбце **respiratory_rate**. Проверим это:

In [304]:
# Расчёт выбросов для столбца respiratory_rate по «внутренним границам»:
q1 = df['respiratory_rate'].quantile(0.25)
q3 = df['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound_int = q1 - (1.5 * iqr) 
upper_bound_int = q3 + (1.5 * iqr)
print ('Значение выбросов столбца "respiratory_rate" по "внутренним границам" (1,5 межквартильного размаха):')
df[~df['pulse'].between(lower_bound_int, upper_bound_int, inclusive=True)]

Значение выбросов столбца "respiratory_rate" по "внутренним границам" (1,5 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2,1,38.5,66,28,3,5,2
1,1,1,39.2,88,20,<NA>,3,3
3,1,9,39.1,164,84,4,2,2
4,2,1,37.3,104,35,<NA>,<NA>,2
8,2,1,NaN,80,36,3,4,3
...,...,...,...,...,...,...,...,...
293,1,1,NaN,78,24,3,<NA>,3
295,1,1,NaN,120,70,4,2,3
296,2,1,37.2,72,24,3,4,3
297,1,1,37.5,72,30,4,4,2
298,1,1,36.5,100,24,3,3,1

In [305]:
# По внешним границам - значительные выбросы:
lower_bound_ext = q1 - (3. * iqr) 
upper_bound_ext = q3 + (3. * iqr)

print ('Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):')

df_max_outer = df[~df['respiratory_rate'].between(lower_bound_ext, upper_bound_ext, inclusive=True)]

if len(df_max_outer) == 0:
    print ('Значительных выбросов по столбцу "respiratory_rate" не обнаружено')
else:
    display(df_max_outer)

Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
39,1,9,39.2,146,96,<NA>,<NA>,2
106,1,1,38.3,52,96,<NA>,<NA>,1
186,1,1,39.3,64,90,2,<NA>,1
269,1,1,39.3,64,90,2,<NA>,1

Как указано в описании данных датафрейма, характиристика частоты дыхания (respiratory rate) имеет сомнительную ценность ввиду большой вариативности.

**Рекомендация:** исключить данные строки из последующего анализа.

###### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [306]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    Int8
 1   age                         300 non-null    Int8
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    Int16
 4   respiratory_rate            242 non-null    Int16
 5   temperature_of_extremities  244 non-null    Int8
 6   pain                        245 non-null    Int8
 7   outcome                     299 non-null    Int8
dtypes: Int16(2), Int8(5), float64(1)
memory usage: 7.2 KB

In [307]:
elements_Nan = df.isna().sum().sum()
print('Общее количество пропущеных значений для всех столбцов:', elements_Nan)
elements = len(df.axes[0])*len(df.axes[1])
print ('Общее количество элементов в датафрейме:', elements )
print(f'Отсутствует {(elements_Nan/elements) *100}% данных')

Общее количество пропущеных значений для всех столбцов: 255
Общее количество элементов в датафрейме: 2400
Отсутствует 10.625% данных

In [308]:
print('В разрезе по столбцам отсутствует следующее количество данных в процентах:')
(df.isna().sum() / len(df)).round(4) * 100

В разрезе по столбцам отсутствует следующее количество данных в процентах:

surgery?                       0.33
age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

In [309]:
print('Строка с пропущенным значением для столбца "surgery?"- проводилась ли хирургическая операция:')
df.loc[df['surgery?'].isnull()]

Строка с пропущенным значением для столбца "surgery?"- проводилась ли хирургическая операция:

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,<NA>,1,38.0,48,20,3,4,<NA>

В строке так же не заполнено значение **outcome** - нет результата лечения.

**Рекомендация:** заменить значения **surgery?** и **outcome** соотвествующими модами, либо удалить строку.

In [310]:
print('Значение моды для столбца "surgery?": ', df['surgery?'].mode()[0])
print('Значение моды для столбца "outcome": ', df['outcome'].mode()[0])
df['surgery?'].iloc[132] = 1
df['outcome'].iloc[132] = 1
df.iloc[132]

Значение моды для столбца "surgery?":  1
Значение моды для столбца "outcome":  1

surgery?                       1
age                            1
rectal_temperature            38
pulse                         48
respiratory_rate              20
temperature_of_extremities     3
pain                           4
outcome                        1
Name: 132, dtype: object

Столбец **age** не имеет пропусков данных  и не требует дополнительной обработки. Однако категориальные значения для возраста не соответствуют описанию:

 Age:
 
         1 = Adult horse
         
         2 = Young (< 6 months)
В датасете имеются только значения 1 и 9:

In [311]:
df['age'].unique()

<IntegerArray>
[1, 9]
Length: 2, dtype: Int8

**Рекомендация:** определить, что **9** обозначает молодую ососбь и заменить на  **2**, как это было определено в описании данных:

In [312]:
df['age'].loc[df['age'] == 9] = 2
df['age'].unique()

<IntegerArray>
[1, 2]
Length: 2, dtype: Int8

Матрица корреляции пропущенных значений

Еще один интересный инструмент — матрица корреляции пропущенных значений (nullity correlation matrix).

По сути, она показывает насколько сильно присутствие или отсутствие значений одного признака влияет на присутствие значений другого.

Если мы знаем, в каких столбцах есть пропуски, то можем просто последовательно применить к ним методы .isnull() и .corr().
titanic[['Age', 'Cabin', 'Embarked']].isnull().corr()
матрица корреляции пропущенных значений, библиотека Pandas


rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33

In [313]:
df[['rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain']].isna().corr()

,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain
rectal_temperature,1.000000,0.405465,0.346069,0.059884,0.086146
pulse,0.405465,1.000000,0.415667,0.142531,0.114314
respiratory_rate,0.346069,0.415667,1.000000,0.090405,0.073440
temperature_of_extremities,0.059884,0.142531,0.090405,1.000000,0.546828
pain,0.086146,0.114314,0.073440,0.546828,1.000000

Столбец **rectal_temperature** содержит набор непрерывных величин, пропуски могут быть заполнены средними значениями в зависимости от возрастной категории:

In [315]:
# мы не можем исключать, что средние температуры в зависимости возраста различны...
# Используем заполнение внутригрупповым значением
# https://www.dmitrymakarov.ru/data-analysis/nan-06/?ysclid=lctaakg710392163057#8-protsent-propushchennykh-znacheniy
print('Группы по возрастам: 1-возрослая лошадь, 2-жеребенок:')
print(df.groupby(['age'])['rectal_temperature'].agg('count'))
print('Средняя температура по возрастам: 1-возрослая лошадь, 2-жеребенок:')
print(df.groupby(['age'])['rectal_temperature'].mean())

df['rectal_temperature'] = df['rectal_temperature'].fillna(df.groupby('age')['rectal_temperature'].transform('mean'))

Группы по возрастам: 1-возрослая лошадь, 2-жеребенок:
age
1    220
2     20
Name: rectal_temperature, dtype: int64
Средняя температура по возрастам: 1-возрослая лошадь, 2-жеребенок:
age
1    38.124545
2    38.645000
Name: rectal_temperature, dtype: float64

Убедимся, что в столбце **rectal_temperature** не осталось пропусков:

In [316]:
df['rectal_temperature'].isna().sum()

0

## Минимум, максимум и размах

In [ ]:
print(max(df['Height']))
print(np.max(df['Height']))
print(df['Height'].max())

In [ ]:
print(min(df['Weight']))
print(np.min(df['Weight']))
print(df['Weight'].min())

In [ ]:
df[df['Weight'] == df['Weight'].min()]

In [ ]:
# размах – разница между минимальным и максимальным значением
weight_range = df['Weight'].max() - df['Weight'].min()
height_range = df['Height'].max() - df['Height'].min()
print(weight_range)
print(height_range)

## Среднеарифметическое

In [ ]:
# ручной подсчет
sum(df['Weight']) / len(df['Weight'])

In [ ]:
print(np.mean(df['Weight']))
print(df['Weight'].mean())

## Мода

In [ ]:
print('Значение моды: ', df['Weight'].mode()[0])

## Медиана

In [ ]:
print(df['Height'].median())
print(np.median(df['Height']))

## СКО

In [ ]:
print('Рост')
print(df['Height'].std())
print(np.std(df['Height'], ddof=1)) # дельта степеней свободы в numpy по умолчанию 0

print('Вес')
print(df['Weight'].std())
print(np.std(df['Weight'], ddof=1))

## Дисперсия

In [ ]:
print('Рост')
print(np.var(df['Height'], ddof=1))
print(df['Height'].var())

print('Вес')
print(np.var(df['Weight'], ddof=1))
print(df['Weight'].var())

## Квантили

In [ ]:
# это же медиана!
df['Height'].quantile()

In [ ]:
# первый и третий квартили
df['Height'].quantile([0.25, 0.75])

In [ ]:
# произвольный перцентиль
df['Height'].quantile(0.33)

In [ ]:
# межквартильный размах
Q1 = df['Height'].quantile(0.25)
Q3 = df['Height'].quantile(0.75)
IQR = Q3 - Q1
IQR

## Describe

In [ ]:
df.describe()

## Выбросы

In [ ]:
# тыкнем пальцем в небо (определим выбросы вручную) и посмотрим, как изменились средние
print(df['Weight'].mean())
print(df[(df['Weight'] > 50) & (df['Weight'] < 150)]['Weight'].mean())

In [ ]:
# а медиана?
print(df['Weight'].median())
print(df[(df['Weight'] > 50) & (df['Weight'] < 150)]['Weight'].median())

In [ ]:
# ну с модой все понятно
print(df['Weight'].round().mode()[0])
print(df[(df['Weight'] > 50) & (df['Weight'] < 150)]['Weight'].round().mode()[0])

А теперь найдем выбросы через межквартльный размах (на примере роста)

PS: через межквартильный размах корректно искать выбросы в нормально распределенных данных (про распределения будет дальше на курсе)

In [ ]:
q1 = df['Height'].quantile(0.25)
q3 = df['Height'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Height'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

In [ ]:
# что это за выбросы?
df[~df['Height'].between(lower_bound, upper_bound, inclusive=True)]

In [ ]:
print(remove_outliers['Height'].mean())
print(remove_outliers['Height'].median())

In [ ]:
print(df['Height'].mean() - remove_outliers['Height'].mean())

In [ ]:
print(df['Height'].median() - remove_outliers['Height'].median())

## Пропуски

Как часто в реальной жизни приходится заполнять пропуски?

На самом деле не часто. Заполнять нужно в том случае, когда алгоритм, для которого готовятся данные, чувствителен к пропускам. Например, регрессии и нейросети – чувствительны, а корреляция и стат-тесты нет (хотя для стат-тестов пропуски нужно удалять).

Кроме того, заполнять мы, строго говоря, имеем право только когда данные пропущены совершенно случайно (MCAR) – тогда заполнение не повлияет на характер связи междузаполняемой переменной и остальными. А то, что у нас MCAR нужно еще доказать.

Но это нужно уметь делать в тех случаях, когда необходимо.

In [ ]:
titanic = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/titanic.csv')
titanic.info()
titanic

Если в данных пропуски представлены в виде каких-то конкретных значений (пустые строк, -, ? и пр.), то используйте аргумент na_values при чтении файла.

In [ ]:
(titanic.isna().mean() * 100).round(2)

### Игнорирование пропусков

In [ ]:
# все методы pandas по-умолчанию просто не берут в расчет пропуски
print(titanic['Age'].mean())
print(titanic['Age'].median())
print(titanic['Age'].mode()[0])

print(titanic['Age'].std())
print(titanic['Age'].var())

### Удаление строк с пропусками

In [ ]:
titanic.dropna().info()

In [ ]:
# посмотрите на сколько исказились статистики, если мы удалим все строки с пропусками
print(titanic.dropna()['Age'].mean())
print(titanic.dropna()['Age'].median())
print(titanic.dropna()['Age'].mode()[0])

print(titanic.dropna()['Age'].std())
print(titanic.dropna()['Age'].var())

In [ ]:
# предположим, мы хотим оставить только те строки, в которых как минимум 11/12 значений заполнено
titanic.dropna(thresh=11)

### Удаление столбцов с пропусками

In [ ]:
# удалять все в данном случае – странно
titanic.dropna(axis = 1).info()

In [ ]:
# у нас очень много пропусков в Cabin. Нам эта информация точно нужна?
titanic.drop(['Cabin'], axis=1).info()

### Замена пропусков

Замена на определенное значение

In [ ]:
fill_by_cnst = titanic.copy()
fill_by_cnst['Cabin'] = fill_by_cnst['Cabin'].fillna('no_info')
print(fill_by_cnst['Cabin'].isna().sum())
print(fill_by_cnst['Cabin'].unique())

Заполняя пропуски, мы хотим сохранить параметры распределения заполняемой переменной – математическое ожидание и дисперсию. Самый простой способ это сделать – заполнить средним или медианой. В этом случае сохраняется среднее, но дисперсией приходится пожертвовать.

Замена средним

In [ ]:
# возраст дискретен, при заполнении средними еще стоит округлить. Проигнорируем в учебных целях

fill_mean = titanic.copy()

fill_mean['Age'] = fill_mean['Age'].fillna(titanic['Age'].mean())

In [ ]:
print(titanic['Age'].describe())
print('-----------------------------------')
print(fill_mean['Age'].describe())

Замена медианой

In [ ]:
fill_median = titanic.copy()

fill_median['Age'] = fill_median['Age'].fillna(titanic['Age'].median())

In [ ]:
print(titanic['Age'].describe())
print('-----------------------------------')
print(fill_median['Age'].describe())

Замена модой

In [ ]:
titanic['Embarked'].value_counts()

In [ ]:
titanic_fill_mode = titanic.copy()
titanic_fill_mode['Embarked'] = titanic_fill_mode['Embarked'].fillna(titanic['Embarked'].mode()[0])

titanic_fill_mode['Embarked'].value_counts()

В большинстве случаев это слишком наивные варианты заполнения, как минимум стоит заполнять значениями в разрезе других признаков (когда применимо).

Заполнение пропусков с группировкой по
одной переменной

In [ ]:
# мы не можем исключать, что медианный возраст мужчин и женщин отличался
print(titanic.groupby('Sex')['Age'].median())
fill_median_by_gender = titanic.copy()
fill_median_by_gender['Age'] = fill_median_by_gender['Age'].fillna(titanic.groupby('Sex')['Age'].transform('median'))

In [ ]:
# а может быть и в разных классах были пассажиры разного возраста?
print(titanic.groupby(['Sex', 'Pclass'])['Age'].median())
fill_median_by_groups = titanic.copy()
fill_median_by_groups['Age'] = fill_median_by_groups['Age'].fillna(titanic.groupby(['Sex', 'Pclass'])['Age'].transform('median'))

Заполнение следующими/предыдущими значениями

In [ ]:
city_day = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/city_day.csv', parse_dates=True, index_col='Date')
city_day.info()

In [ ]:
city_day

In [ ]:
(city_day.isna().mean() * 100).round(2)

In [ ]:
city_day.fillna(method='ffill', inplace=True)

In [ ]:
city_day.fillna(method='bfill', inplace=True)

In [ ]:
(city_day.isna().mean() * 100).round(2)