# Домашняя работа к лекции «Базовые понятия статистики»

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

## Задание 1 Загрузка данных 

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [1]:
import pandas as pd

#### Подготовка исходного файла загрузки.
Перед загрузкой в файле 'horse_data.csv' была добавлена и разделена ' , '-ми 1-я строка для заполнения наименований столбцов.

In [2]:
horse_data = pd.read_csv('horse_data.csv', names = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature',\
                                                    'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                                                    'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', \
                                                    'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', \
                                                    'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_-_feces',\
                                                    'abdomen', 'packed_cell_volume', 'total_protein', \
                                                    'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', \
                                                    'surgical_lesion?', 'site_of_lesion', 'type', 'specific_code', 'cp_data'], \
                         sep = ',', header=0, na_values='?')
horse_data = horse_data[['surgery', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', \
                         'pain', 'outcome']]
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

## Задание 2 Первичное изучение данных 

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [3]:
# Уникальные значения столбцов
print(horse_data['surgery'].unique())
print(horse_data['age'].unique())
print(horse_data['rectal_temperature'].unique())
print(horse_data['pulse'].unique())
print(horse_data['respiratory_rate'].unique())
print(horse_data['temperature_of_extremities'].unique())
print(horse_data['pain'].unique())
print(horse_data['outcome'].unique())

[ 2.  1. nan]
[1 9]
[38.5 39.2 38.3 39.1 37.3  nan 37.9 38.1 37.2 38.  38.2 37.6 37.5 39.4
 39.9 38.4 38.6 37.8 37.7 39.  35.4 38.9 37.4 40.3 37.  39.7 38.7 36.4
 38.8 39.6 36.8 39.5 36.5 36.  37.1 39.3 36.1 36.6 40.8 36.9 40. ]
[ 66.  88.  40. 164. 104.  nan  48.  60.  80.  90.  72.  42.  92.  76.
  96. 128.  64. 110. 130. 108. 100. 112.  52. 146. 150. 120. 140.  84.
  46. 114. 160.  54.  56.  38.  98.  50.  44.  70.  78.  49.  30. 136.
 132.  65.  86. 129.  68.  36.  45. 124. 184.  75.  82.]
[28. 20. 24. 84. 35. nan 16. 36. 12. 52. 48. 21. 60. 34. 42. 30. 96. 72.
 15. 44. 32. 22. 18. 80. 40. 10. 51. 68. 66.  9. 14. 90.  8. 23. 58. 13.
 70. 26. 88. 25. 50.]
[ 3. nan  1.  4.  2.]
[ 5.  3.  2. nan  4.  1.]
[ 2.  3.  1. nan]

#### Касательно столбца "Возраст"
Исходя из полученных данных методом "value_counts()" (значение '9' встречается 24 раза) и наличие 2-х категорий ('1' и '2') по данному столбцу (из описания столбцов), имею основания полагать, что значение '9' соответствует категории '2' (в описании столбцов). Заменяю все значения '9' на '2', сделав вывод, что '9' - это техническая ошибка.

In [4]:
horse_data['age'] = horse_data.age.apply(lambda x: 2 if x == 9 else x)
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [5]:
horse_data['age'].value_counts()

1    276
2     24
Name: age, dtype: int64

### Основные базовые статистики:

In [6]:
horse_data.describe()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

### Моды:

In [7]:
# Моды
print('Операция:', horse_data['surgery'].mode()[0])
print('Возраст:', horse_data['age'].mode()[0])
print('Ректальная температура:', horse_data['rectal_temperature'].mode()[0])
print('Пульс:', horse_data['pulse'].mode()[0])
print('Частота дыхания:', horse_data['respiratory_rate'].mode()[0])
print('Температура конечностей:', horse_data['temperature_of_extremities'].mode()[0])
print('Боль:', horse_data['pain'].mode()[0])
print('Результат:', horse_data['outcome'].mode()[0])

Операция: 1.0
Возраст: 1
Ректальная температура: 38.0
Пульс: 48.0
Частота дыхания: 20.0
Температура конечностей: 3.0
Боль: 3.0
Результат: 1.0

### Дисперсии:

In [8]:
# Дисперсии
print('Операция:', horse_data['surgery'].var())
print('Возраст:', horse_data['age'].var())
print('Ректальная температура:', horse_data['rectal_temperature'].var())
print('Пульс:', horse_data['pulse'].var())
print('Частота дыхания:', horse_data['respiratory_rate'].var())
print('Температура конечностей:', horse_data['temperature_of_extremities'].var())
print('Боль:', horse_data['pain'].var())
print('Результат:', horse_data['outcome'].var())

Операция: 0.24039864425040888
Возраст: 0.07384615384615334
Ректальная температура: 0.5362466875871686
Пульс: 819.7087747035575
Частота дыхания: 311.24832824663054
Температура конечностей: 1.0921372191863987
Боль: 1.710705921712949
Результат: 0.5434445915916574

### Межквартильные размахи

In [9]:
Q1_surgery = horse_data['surgery'].quantile(0.25)
Q3_surgery = horse_data['surgery'].quantile(0.75)
IQR_surgery = Q3_surgery - Q1_surgery
print('Операция:', IQR_surgery)

Q1_age = horse_data['age'].quantile(0.25)
Q3_age = horse_data['age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
print('Возраст:', IQR_age)

Q1_rectal_temperature = horse_data['rectal_temperature'].quantile(0.25)
Q3_rectal_temperature = horse_data['rectal_temperature'].quantile(0.75)
IQR_rectal_temperature = Q3_rectal_temperature - Q1_rectal_temperature
print('Ректальная температура:', IQR_rectal_temperature)

Q1_pulse = horse_data['pulse'].quantile(0.25)
Q3_pulse = horse_data['pulse'].quantile(0.75)
IQR_pulse = Q3_pulse - Q1_pulse
print('Пульс:', IQR_pulse)

Q1_respiratory_rate = horse_data['respiratory_rate'].quantile(0.25)
Q3_respiratory_rate = horse_data['respiratory_rate'].quantile(0.75)
IQR_respiratory_rate = Q3_respiratory_rate - Q1_respiratory_rate
print('Частота дыхания:', IQR_respiratory_rate)

Q1_temperature_of_extremities = horse_data['temperature_of_extremities'].quantile(0.25)
Q3_temperature_of_extremities = horse_data['temperature_of_extremities'].quantile(0.75)
IQR_temperature_of_extremities = Q3_temperature_of_extremities - Q1_temperature_of_extremities
print('Температура конечностей:', IQR_temperature_of_extremities)

Q1_pain = horse_data['pain'].quantile(0.25)
Q3_pain = horse_data['pain'].quantile(0.75)
IQR_pain = Q3_pain - Q1_pain
print('Боль:', IQR_pain)

Q1_outcome = horse_data['outcome'].quantile(0.25)
Q3_outcome = horse_data['outcome'].quantile(0.75)
IQR_outcome = Q3_outcome - Q1_outcome
print('Результат:', IQR_outcome)

Операция: 1.0
Возраст: 0.0
Ректальная температура: 0.7000000000000028
Пульс: 40.0
Частота дыхания: 17.5
Температура конечностей: 2.0
Боль: 2.0
Результат: 1.0

### Выбросы:

In [10]:
lower_bound_surgery = Q1_surgery - (1.5 * IQR_surgery) 
upper_bound_surgery = Q3_surgery + (1.5 * IQR_surgery)
remove_outliers_surgery = horse_data[horse_data['surgery']\
                        .between(lower_bound_surgery, upper_bound_surgery, inclusive=True)].sort_values('outcome')
outliers_surgery = pd.concat([horse_data, remove_outliers_surgery]).drop_duplicates(keep=False)
outliers_surgery.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [11]:
lower_bound_age = Q1_age - (1.5 * IQR_age) 
upper_bound_age = Q3_age + (1.5 * IQR_age)
remove_outliers_age = horse_data[horse_data['age']\
                        .between(lower_bound_age, upper_bound_age, inclusive=True)].sort_values('outcome')
outliers_age = pd.concat([horse_data, remove_outliers_age]).drop_duplicates(keep=False)
outliers_age.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,2,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0

In [12]:
outliers_age['age'].value_counts()

2    24
Name: age, dtype: int64

In [13]:
lower_bound_rectal_temperature = Q1_rectal_temperature - (1.5 * IQR_rectal_temperature) 
upper_bound_rectal_temperature = Q3_rectal_temperature + (1.5 * IQR_rectal_temperature)
remove_outliers_rectal_temperature = horse_data[horse_data['rectal_temperature']\
                                     .between(lower_bound_rectal_temperature, upper_bound_rectal_temperature, inclusive=True)]\
                                     .sort_values('outcome')
outliers_rectal_temperature = pd.concat([horse_data, remove_outliers_rectal_temperature]).drop_duplicates(keep=False)
outliers_rectal_temperature.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0

In [14]:
outliers_rectal_temperature['rectal_temperature'].value_counts()

40.3    2
36.5    2
36.1    1
36.4    1
35.4    1
39.6    1
39.9    1
40.8    1
39.7    1
36.6    1
40.0    1
36.0    1
Name: rectal_temperature, dtype: int64

In [15]:
lower_bound_pulse = Q1_pulse - (1.5 * IQR_pulse) 
upper_bound_pulse = Q3_pulse + (1.5 * IQR_pulse)
remove_outliers_pulse = horse_data[horse_data['pulse']\
                        .between(lower_bound_pulse, upper_bound_pulse, inclusive=True)].sort_values('outcome')
outliers_pulse = pd.concat([horse_data, remove_outliers_pulse]).drop_duplicates(keep=False)
outliers_pulse.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0

In [16]:
outliers_pulse['pulse'].value_counts()

150.0    2
184.0    1
160.0    1
164.0    1
Name: pulse, dtype: int64

In [17]:
lower_bound_respiratory_rate = Q1_respiratory_rate - (1.5 * IQR_respiratory_rate) 
upper_bound_respiratory_rate = Q3_respiratory_rate + (1.5 * IQR_respiratory_rate)
remove_outliers_respiratory_rate = horse_data[horse_data['respiratory_rate']\
                                   .between(lower_bound_respiratory_rate, upper_bound_respiratory_rate, inclusive=True)]\
                                   .sort_values('outcome')
outliers_respiratory_rate = pd.concat([horse_data, remove_outliers_respiratory_rate]).drop_duplicates(keep=False)
outliers_respiratory_rate.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0

In [18]:
outliers_respiratory_rate['respiratory_rate'].value_counts()

68.0    3
80.0    3
70.0    2
96.0    2
84.0    2
88.0    1
66.0    1
72.0    1
Name: respiratory_rate, dtype: int64

In [19]:
lower_bound_temperature_of_extremities = Q1_temperature_of_extremities - (1.5 * IQR_temperature_of_extremities) 
upper_bound_temperature_of_extremities = Q3_temperature_of_extremities + (1.5 * IQR_temperature_of_extremities)
remove_outliers_temperature_of_extremities = horse_data[horse_data['temperature_of_extremities']\
                                             .between(lower_bound_temperature_of_extremities,\
                                             upper_bound_temperature_of_extremities, inclusive=True)]\
                                             .sort_values('outcome')
outliers_temperature_of_extremities = pd.concat([horse_data, remove_outliers_temperature_of_extremities]).drop_duplicates(keep=False)
outliers_temperature_of_extremities.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
23,1.0,2,38.3,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0

In [20]:
outliers_temperature_of_extremities['temperature_of_extremities'].value_counts()

Series([], Name: temperature_of_extremities, dtype: int64)

In [21]:
lower_bound_pain = Q1_pain - (1.5 * IQR_pain) 
upper_bound_pain = Q3_pain + (1.5 * IQR_pain)
remove_outliers_pain = horse_data[horse_data['pain']\
                       .between(lower_bound_pain, upper_bound_pain, inclusive=True)].sort_values('outcome')
outliers_pain = pd.concat([horse_data, remove_outliers_pain]).drop_duplicates(keep=False)
outliers_pain.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0

In [22]:
outliers_pain['pain'].value_counts()

Series([], Name: pain, dtype: int64)

In [23]:
lower_bound_outcome = Q1_outcome - (1.5 * IQR_outcome) 
upper_bound_outcome = Q3_outcome + (1.5 * IQR_outcome)
remove_outliers_outcome = horse_data[horse_data['outcome']\
                       .between(lower_bound_outcome, upper_bound_outcome, inclusive=True)].sort_values('outcome')
outliers_outcome = pd.concat([horse_data, remove_outliers_outcome]).drop_duplicates(keep=False)
outliers_outcome.head()

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

## Задание 3 Работа с пропусками 

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

#### Сначала заполним пропуски в колонках с категориальными признаками, чтобы потом, в их разрезах, заполнять признаки с дискретными величинами

In [24]:
horse_data

,surgery,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [25]:
# Заполненность столбцов
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [26]:
# Пропуски в %
(horse_data.isna().mean() * 100).round(2)

surgery                        0.33
age                            0.00
rectal_temperature            20.00
pulse                          8.00
respiratory_rate              19.33
temperature_of_extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

##### Касательно строки 132 датафрейма:
Пропуски наблюдаются в столбцах "Операция" и "Результат". Они же являются единственными пропусками датафрема по данным столбцам. Учитывая то, что остальные признаки приближены к модам этих признаков всего датафрейма - заполняем их модальными значениями.

In [27]:
horse_data['surgery'].fillna(horse_data['surgery'].mode()[0], inplace=True)
print(horse_data['surgery'].isna().sum())
print(horse_data['surgery'].unique())

0
[2. 1.]

In [28]:
horse_data['outcome'].fillna(horse_data['outcome'].mode()[0], inplace=True)
print(horse_data['outcome'].isna().sum())
print(horse_data['outcome'].unique())

0
[2. 3. 1.]

In [29]:
horse_data.loc[132]

surgery                        1.0
age                            1.0
rectal_temperature            38.0
pulse                         48.0
respiratory_rate              20.0
temperature_of_extremities     3.0
pain                           4.0
outcome                        1.0
Name: 132, dtype: float64

In [30]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

##### Касательно пропусков столбца "Боль":

In [31]:
fill_median = horse_data

fill_median['pain'].fillna(horse_data['pain'].median(), inplace=True)
print(fill_median['pain'].fillna(horse_data['pain'].median()).isna().sum())
print(fill_median['pain'].unique())

0
[5. 3. 2. 4. 1.]

In [32]:
print(fill_median['pain'].describe())

count    300.000000
mean       2.960000
std        1.181689
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

In [33]:
fill_moda = horse_data

fill_moda['pain'].fillna(horse_data['pain'].mode()[0], inplace=True)
print(fill_moda['pain'].isna().sum())
print(fill_moda['pain'].unique())

0
[5. 3. 2. 4. 1.]

In [34]:
print(fill_moda['pain'].describe())

count    300.000000
mean       2.960000
std        1.181689
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: pain, dtype: float64

Из анализа заполнения пропусков медианой или модой (заполнение ср. арифм-м не рассматривается, потому что не получится категории в значении целого числа) видно, что значения стандартного отклонения и среднего арифм.-го - одинаково. Поэтому заполняем данный столбец, медианой.

In [35]:
horse_data['pain'].fillna(horse_data['pain'].mode()[0], inplace=True)
print(horse_data['pain'].isna().sum())
print(horse_data['pain'].unique())

0
[5. 3. 2. 4. 1.]

In [36]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

#### Осталось заполнить пропуски в столбцах: "Ректальная температура", "Пульс", "Частота дыхания" и "Температура конечностей".

В данных столбцах есть выбросы, которые мы оставляем. Соответственно заполняем пропуски в этих столбцах медианами в разрезе категориальных признаков.

In [37]:
horse_data['rectal_temperature'].fillna(horse_data.groupby(['surgery', 'age'])['rectal_temperature'].transform('median'), inplace=True)
horse_data['pulse'].fillna(horse_data.groupby(['pain', 'age'])['pulse'].transform('median'), inplace=True)
horse_data['temperature_of_extremities'].fillna(horse_data.groupby(['age', 'outcome'])['temperature_of_extremities'].transform('median'), inplace=True)
horse_data['respiratory_rate'].fillna(horse_data.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

In [38]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory_rate            299 non-null    float64
 5   temperature_of_extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [39]:
horse_data['respiratory_rate'].fillna(horse_data['respiratory_rate'].median(), inplace=True)

In [40]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     300 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          300 non-null    float64
 3   pulse                       300 non-null    float64
 4   respiratory_rate            300 non-null    float64
 5   temperature_of_extremities  300 non-null    float64
 6   pain                        300 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

###### При заполнении пропусков был произведен анализ вариантов заполнениия в различных разрезах 2-х категориальных признаков и выбраны варианты с наиболее очевидной зависимостью

In [41]:
# Для рекатальной температуры: (операция и возраст, боль и операция, результат и операция, результат и возраст) - одинаковая зависимость
# Для пульса: боль и возраст (операция и возраст, возраст и операция, возраст и результат(?), результат и возраст)
# Для частоты дыхания: результат и возраст (операция и возраст, боль и возраст)
# Для температуры конечностей: возраст и результат (возраст и операция)

In [42]:
print(horse_data.groupby(['surgery', 'age'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['surgery', 'age'])['respiratory_rate'].transform('median'), inplace=True)

surgery  age
1.0      1      24.0
         2      55.0
2.0      1      24.0
         2      37.0
Name: respiratory_rate, dtype: float64

In [43]:
print(horse_data.groupby(['surgery', 'pain'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['surgery', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

surgery  pain
1.0      1.0     16.0
         2.0     35.0
         3.0     24.0
         4.0     28.0
         5.0     28.0
2.0      1.0     20.0
         2.0     24.0
         3.0     24.0
         4.0     24.5
         5.0     28.0
Name: respiratory_rate, dtype: float64

In [44]:
print(horse_data.groupby(['surgery', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['surgery', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

surgery  outcome
1.0      1.0        24.0
         2.0        28.0
         3.0        24.0
2.0      1.0        24.0
         2.0        28.0
         3.0        24.0
Name: respiratory_rate, dtype: float64

In [45]:
print(horse_data.groupby(['age', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['age', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

age  surgery
1    1.0        24.0
     2.0        24.0
2    1.0        55.0
     2.0        37.0
Name: respiratory_rate, dtype: float64

In [46]:
print(horse_data.groupby(['age', 'pain'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['age', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

age  pain
1    1.0     20.0
     2.0     24.0
     3.0     24.0
     4.0     24.5
     5.0     28.0
2    1.0     28.0
     2.0     60.0
     3.0     54.0
     4.0     44.0
     5.0     50.0
Name: respiratory_rate, dtype: float64

In [47]:
print(horse_data.groupby(['age', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['age', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

age  outcome
1    1.0        24.0
     2.0        28.0
     3.0        24.0
2    1.0        64.0
     2.0        44.0
     3.0        24.0
Name: respiratory_rate, dtype: float64

In [48]:
print(horse_data.groupby(['pain', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['pain', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

pain  surgery
1.0   1.0        16.0
      2.0        20.0
2.0   1.0        35.0
      2.0        24.0
3.0   1.0        24.0
      2.0        24.0
4.0   1.0        28.0
      2.0        24.5
5.0   1.0        28.0
      2.0        28.0
Name: respiratory_rate, dtype: float64

In [49]:
print(horse_data.groupby(['pain', 'age'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['pain', 'age'])['respiratory_rate'].transform('median'), inplace=True)

pain  age
1.0   1      20.0
      2      28.0
2.0   1      24.0
      2      60.0
3.0   1      24.0
      2      54.0
4.0   1      24.5
      2      44.0
5.0   1      28.0
      2      50.0
Name: respiratory_rate, dtype: float64

In [50]:
print(horse_data.groupby(['pain', 'outcome'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['pain', 'outcome'])['respiratory_rate'].transform('median'), inplace=True)

pain  outcome
1.0   1.0        20.0
      2.0        23.0
      3.0        20.0
2.0   1.0        24.0
      2.0        32.0
      3.0        28.0
3.0   1.0        24.0
      2.0        28.0
      3.0        24.0
4.0   1.0        30.0
      2.0        28.0
      3.0        24.0
5.0   1.0        27.0
      2.0        28.0
      3.0        23.0
Name: respiratory_rate, dtype: float64

In [51]:
print(horse_data.groupby(['outcome', 'surgery'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['outcome', 'surgery'])['respiratory_rate'].transform('median'), inplace=True)

outcome  surgery
1.0      1.0        24.0
         2.0        24.0
2.0      1.0        28.0
         2.0        28.0
3.0      1.0        24.0
         2.0        24.0
Name: respiratory_rate, dtype: float64

In [52]:
print(horse_data.groupby(['outcome', 'age'])['respiratory_rate'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['outcome', 'age'])['respiratory_rate'].transform('median'), inplace=True)

outcome  age
1.0      1      24.0
         2      64.0
2.0      1      28.0
         2      44.0
3.0      1      24.0
         2      24.0
Name: respiratory_rate, dtype: float64

In [53]:
print(horse_data.groupby(['outcome', 'pain'])['temperature_of_extremities'].median())
fill_median_by_groups = horse_data
fill_median_by_groups['respiratory_rate'].fillna(horse_data.groupby(['outcome', 'pain'])['respiratory_rate'].transform('median'), inplace=True)

outcome  pain
1.0      1.0     2.0
         2.0     2.0
         3.0     2.0
         4.0     3.0
         5.0     3.0
2.0      1.0     2.0
         2.0     3.0
         3.0     3.0
         4.0     3.0
         5.0     3.0
3.0      1.0     3.0
         2.0     3.0
         3.0     3.0
         4.0     3.0
         5.0     3.0
Name: temperature_of_extremities, dtype: float64