##### Задание 1
Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [6]:
import pandas as pd

In [7]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [11]:
# 1. Отобрать записи с оценкой 5 звезд, 
# 2. Подсчитать количество 
# 3. Вывести 1ую запись

ratings.loc[ratings['rating'] == 5].groupby('movieId').count().sort_values('rating', ascending=False).head(1)

# Оптимальней 
# можно использовать более короткую версию с методом value_counts:
ratings[ratings.rating == 5].movieId.value_counts()

318      153
296      123
356      116
2571     109
260      104
        ...
45672      1
2822       1
611        1
8807       1
83969      1
Name: movieId, Length: 2954, dtype: int64

###### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [ ]:
# Весь фрейм данных:
power = pd.read_csv('power.csv')

# Фильтр категорий потребления:
filter_category = [4, 12, 21]

# Фильтр стран:
filter_country = ['Estonia', 'Lithuania', 'Latvia']

# Фрейм с отобранными данными:
df=power[(power.category.isin(filter_category))
      & (power.country.isin(filter_country)) 
      & ((power['year'] >= 2005) & (power['year'] <= 2010))
      & ((power['quantity'] > 0))      
      ]

# Cуммарное потребление:
df['quantity'].sum()

###### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [ ]:
import html5lib
# Данные экспорта из США за 2019 год https://ru.wikipedia.org/wiki/Экономика_США

table = pd.read_html('https://ru.wikipedia.org/wiki/%D0%AD%D0%BA%D0%BE%D0%BD%D0%BE%D0%BC%D0%B8%D0%BA%D0%B0_%D0%A1%D0%A8%D0%90',  
                      match='Основные направления экспорта товаров из США в 2019 году')
df_Export = table[0]
df_Export.info()
df_Export.head()

In [ ]:
# Переименовать столбцы:
df_Export.rename(columns = {'Страна' : 'country', '%':'percent', 'млрд $':'export_amount'}, inplace = True)
df_Export.head(10)

In [ ]:
# Суммарный экспорт в основыне страны из США за 2019 год:
df_Export['export_amount'].sum()